---
layout: main
---


<section class="exercises-overview">
<h1>Site content</h1>

<ul>
  <li>Weekly plans as <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Exercises as <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Other docs as <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li>Weekly plans, exercises and docs as <a href="{{site.baseurl}}/pdf">pdf files</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITS learning import XML</a></li>
</ul>

</section>
